In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas_datareader as web

ticker=["NKE"]

price_data = web.get_data_yahoo(ticker, start = '2000-1-3', end  = '2000-6-1')
price_data['MA10'] = price_data['Close'].rolling(10).mean()
price_data['MA50'] = price_data['Close'].rolling(50).mean()
price_data = price_data.dropna()
price_data.head()

Attributes,Adj Close,Close,High,Low,Open,Volume,MA10,MA50
Symbols,NKE,NKE,NKE,NKE,NKE,NKE,,
Date,,,,,,,,
2000-03-14,1.089042,3.609375,3.765625,3.531250,3.625000,18244000.0,3.522656,4.874688
2000-03-15,1.244619,4.125000,4.187500,3.570312,3.578125,25912800.0,3.583594,4.836875
2000-03-16,1.388737,4.468750,4.750000,3.921875,4.117188,17427200.0,3.662500,4.812500
2000-03-17,1.320756,4.250000,4.515625,4.015625,4.328125,30021600.0,3.720312,4.777188
2000-03-20,1.281911,4.125000,4.171875,4.039062,4.039062,14386400.0,3.776562,4.740000

In [5]:
price_data['Shares'] =  [1 if price_data.loc[ei, 'High'] > price_data.loc[ei, 'Low'] else 0 for ei in price_data.index]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().